<form class="form-user">
    <div class="form-photo">
        <InputFile @photo={{ @author.photo }} @isDisabled={{@isDisabled}}></InputFile>
    </div>

    <div class="form-inputs">
        <div class="wrap-input">
            <label for="input-firstName">First name</label>
            <Input 
                @type="text" 
                @value={{ @author.firstName }}  
                @readonly={{@isDisabled}}
            />
        </div>
            
        <div class="wrap-input">
            <label for="input-lastName">Last name</label>
            <Input 
                @type="text" 
                @value={{ @author.lastName }}  
                @readonly={{@isDisabled}}
            />
        </div>
        
        <div class="wrap-input">
            <label for="input-nationality">Nationality</label>
                <Input 
                    @type="text" 
                    @value={{ @author.nationality }}  
                    @readonly={{@isDisabled}}
                />
        </div>

        <div class="wrap-input">
            <label for="input-birthDate">Birth Date</label>
            <Input 
                @type={{if @isDisabled "text" "date"}} 
                @value={{ @author.birthDate }}  
                @readonly={{@isDisabled}}
            />
        </div>
    </div>

</form>

{{#unless @isDisabled}}
    <div class="form-buttons">
        <button class="form-button-summit" {{on "click" @update }}>Update</button>
        <button class="form-button-summit" {{on "click" (fn this.saveAuthor @save) }}>Save</button>
    </div>
{{/unless}}