
<div class="content-title">
    <h3>Home / Authors</h3>
</div>

<GeneralContainer class="content-form" @title="Register User">
    <FormUser @isDisabled={{false}} @author={{ this.author }} @update={{ this.update }} @save={{ this.save }}></FormUser>
</GeneralContainer>

<GeneralContainer class="content-table" @title="Table authors">
    <TableAuthors @authors={{ @model }} @setAuthor={{this.setAuthor}}></TableAuthors>
</GeneralContainer>
